div{
    border: 2px solid red;
    width: 250px;
    text-align: center;
    }
button{
    margin: 10px;
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 0px 2px red;
}
input{
    width: 200px;
    height: 30px;
    box-shadow: 0px 2px 0px 2px red;
    text-align: right;
}
#display{
    width: 200px;
    height: 50px;
    margin-left: 20px;
    text-align-last: right;
    font-size: xx-large;
}