#BTN1{
    margin: 10px;
    padding: 12px 25px;
    background-color: #90ee90;
    border-radius: 20px;
    font-size: x-large;
    font-weight: 600;
    border: none;
}

#BTN2{
    margin: 10px;
    padding: 12px 25px;
    border: 3px solid black;
    font-size: x-large;
    font-weight: 580;
    border-radius: 15px;
    text-transform: uppercase;
}

#BTN3{
    margin: 10px;
    padding: 12px 25px;
    background-color: #90ee90;
    border-radius: 20px;
    font-size: x-large;
    font-weight: 600;
    border: none;
}